<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AsusBackLightLevel</key>
	<data>
	EA==
	</data>
	<key>EFILoginHiDPI</key>
	<data>
	AAAAAA==
	</data>
	<key>backlight-level</key>
	<data>
	/gA=
	</data>
	<key>bluetoothActiveControllerInfo</key>
	<data>
	Q4E8QQAAAAAWHTBSy+qhog==
	</data>
	<key>csr-active-config</key>
	<data>
	ZwAAAA==
	</data>
	<key>flagstate</key>
	<data>
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA=
	</data>
	<key>fmm-computer-name</key>
	<data>
	VG9zaGliYeydmCBNYWNCb29rIFBybw==
	</data>
	<key>security-mode</key>
	<string>none</string>
	<key>specialbootdevice</key>
	<data>
	AgEMANBBCAoAAAAAAQEGAAIfAxIKAAEAAAAAAAQBKgACAAAAKEAGAAAAAAC4gLITAAAA
	AKCu2WWd3V1OunrpWkBfSPkCAn//BAA=
	</data>
</dict>
</plist>