<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<dict>
		<key>AutoMerge</key>
		<false/>
		<key>DSDT</key>
		<dict>
			<key>DropOEM_DSM</key>
			<false/>
			<key>Fixes</key>
			<dict>
				<key>FixHPET</key>
				<false/>
				<key>FixIPIC</key>
				<false/>
				<key>FixRTC</key>
				<false/>
				<key>FixTMR</key>
				<false/>
			</dict>
			<key>Patches</key>
			<array>
				<dict>
					<key>Comment</key>
					<string>Syntax Fix: M(LGPC) to XGPC, pair up with SSDT-LGPC.aml</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>TEdQQwk=</data>
					<key>Replace</key>
					<data>WEdQQwk=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Syntax Fix: _HID ABCDEFGH to ABCDABCD</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>QUJDREVGR0g=</data>
					<key>Replace</key>
					<data>QUJDREFCQ0Q=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Sleep Fix: Rename LID0._PRW to XPRW, pair up with SSDT-PRW.aml</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>X1BSVw==</data>
					<key>Replace</key>
					<data>WFBSVw==</data>
					<key>TgtBridge</key>
					<data>TElEMA==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Sleep Fix: Rename EH01._PRW to XPRW, pair up with SSDT-PRW.aml</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>X1BSVw==</data>
					<key>Replace</key>
					<data>WFBSVw==</data>
					<key>TgtBridge</key>
					<data>RUhDMQ==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>CPU Power Management with ssdtPRGen: Rename M(PNOT) to PYES, pair up with ssdt.aml</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>UE5PVAg=</data>
					<key>Replace</key>
					<data>UFlFUwg=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>OS fix: Rename M(_INI_ in PCI0 to ZINI, pair up with SSDT-_INI-OSYS.aml</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>X0lOSQA=</data>
					<key>Replace</key>
					<data>WklOSQA=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>USB Power Fix: Rename  EHC1 to EH01</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>RUhDMQ==</data>
					<key>Replace</key>
					<data>RUgwMQ==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>USB Power Fix: Rename EHC2 to EH02</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>RUhDMg==</data>
					<key>Replace</key>
					<data>RUgwMg==</data>
				</dict>
			</array>
		</dict>
		<key>DropTables</key>
		<array>
			<dict>
				<key>Signature</key>
				<string>MCFG</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>SSDT</string>
				<key>TableId</key>
				<string>CpuPm</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>SSDT</string>
				<key>TableId</key>
				<string>PtidDevc</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>SSDT</string>
				<key>TableId</key>
				<string>Cpu0Cst</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>SSDT</string>
				<key>TableId</key>
				<string>Cpu0Ist</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>SSDT</string>
				<key>TableId</key>
				<string>ApCst</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>SSDT</string>
				<key>TableId</key>
				<string>ApIst</string>
			</dict>
		</array>
		<key>FixHeaders</key>
		<true/>
		<key>SSDT</key>
		<dict>
			<key>DropOem</key>
			<false/>
			<key>Generate</key>
			<dict>
				<key>APLF</key>
				<false/>
				<key>APSN</key>
				<false/>
				<key>CStates</key>
				<false/>
				<key>PStates</key>
				<false/>
			</dict>
			<key>NoOemTableId</key>
			<false/>
		</dict>
	</dict>
	<key>Boot</key>
	<dict>
		<key>Arguments</key>
		<string>kext-dev-mode=1 applbkl=0</string>
		<key>DefaultVolume</key>
		<string>High Sierra</string>
		<key>NeverHibernate</key>
		<true/>
		<key>Secure</key>
		<false/>
		<key>Timeout</key>
		<integer>1</integer>
	</dict>
	<key>Comment</key>
	<string>Toshiba Satellite C665, B940, 315M, @whatnameisit</string>
	<key>Devices</key>
	<dict>
		<key>LANInjection</key>
		<false/>
		<key>NoDefaultProperties</key>
		<true/>
		<key>AddProperties</key>
		<array>
			<dict>
				<key>Device</key>
				<string>NVidia</string>
				<key>Disabled</key>
				<false/>
				<key>Key</key>
				<string>AAPL,backlight-control</string>
				<key>Value</key>
				<data>AQAAAA==</data>
			</dict>
			<dict>
				<key>Device</key>
				<string>NVidia</string>
				<key>Disabled</key>
				<false/>
				<key>Key</key>
				<string>VRAM,totalsize</string>
				<key>Value</key>
				<data>AAAAIA==</data>
			</dict>
			<dict>
				<key>Device</key>
				<string>NVidia</string>
				<key>Disabled</key>
				<false/>
				<key>Key</key>
				<string>AAPL,aux-power-connected</string>
				<key>Value</key>
				<data>AQAAAA==</data>
			</dict>
			<dict>
				<key>Device</key>
				<string>NVidia</string>
				<key>Disabled</key>
				<false/>
				<key>Key</key>
				<string>AAPL00,inverter</string>
				<key>Value</key>
				<data>AAAAAA==</data>
			</dict>
			<dict>
				<key>Device</key>
				<string>NVidia</string>
				<key>Disabled</key>
				<false/>
				<key>Key</key>
				<string>AAPL,gray-page</string>
				<key>Value</key>
				<data>AQAAAA==</data>
			</dict>
			<dict>
				<key>Device</key>
				<string>NVidia</string>
				<key>Disabled</key>
				<false/>
				<key>Key</key>
				<string>AAPL00,blackscreen.preferences</string>
				<key>Value</key>
				<data>AAAACA==</data>
			</dict>
			<dict>
				<key>Device</key>
				<string>NVidia</string>
				<key>Disabled</key>
				<false/>
				<key>Key</key>
				<string>@0,NVMT</string>
				<key>Value</key>
				<data>DgN/IAAAAABACwgH4AtwC5ALAAA8BwsHEQcAAPCnIRQAAAABrwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAD//wAAAAAAAAAAAAABAAAAAAAA/wAAAAC8AgFaCgQAAAACAABACwgHQAsIBw==</data>
			</dict>
			<dict>
				<key>Device</key>
				<string>NVidia</string>
				<key>Disabled</key>
				<false/>
				<key>Key</key>
				<string>NVPM</string>
				<key>Value</key>
				<data>AQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA==</data>
			</dict>
			<dict>
				<key>Device</key>
				<string>NVidia</string>
				<key>Disabled</key>
				<false/>
				<key>Key</key>
				<string>NVCAP</string>
				<key>Value</key>
				<data>BAAAAAAAAwAIAAAAAAAABwAAAAA=</data>
			</dict>
			<dict>
				<key>Device</key>
				<string>NVidia</string>
				<key>Disabled</key>
				<false/>
				<key>Key</key>
				<string>@0,pwm-info</string>
				<key>Value</key>
				<data>AhgAZJBZAgAIUgAApRwAAAAEAAABAAAA</data>
			</dict>
			<dict>
				<key>Device</key>
				<string>NVidia</string>
				<key>Disabled</key>
				<false/>
				<key>Key</key>
				<string>@0,built-in</string>
				<key>Value</key>
				<data>AQ==</data>
			</dict>
			<dict>
				<key>Device</key>
				<string>NVidia</string>
				<key>Disabled</key>
				<false/>
				<key>Key</key>
				<string>@0,connector-type</string>
				<key>Value</key>
				<data>AgAAAA==</data>
			</dict>
			<dict>
				<key>Device</key>
				<string>NVidia</string>
				<key>Disabled</key>
				<false/>
				<key>Key</key>
				<string>@0,backlight-control</string>
				<key>Value</key>
				<data>AQAAAA==</data>
			</dict>
			<dict>
				<key>Device</key>
				<string>NVidia</string>
				<key>Disabled</key>
				<false/>
				<key>Key</key>
				<string>@0,use-backlight-blanking</string>
				<key>Value</key>
				<data>AAAAAA==</data>
			</dict>
			<dict>
				<key>Device</key>
				<string>NVidia</string>
				<key>Disabled</key>
				<false/>
				<key>Key</key>
				<string>@0,AAPL,boot-display</string>
				<key>Value</key>
				<data>AQ==</data>
			</dict>
			<dict>
				<key>Device</key>
				<string>NVidia</string>
				<key>Disabled</key>
				<false/>
				<key>Key</key>
				<string>@0,display-cfg</string>
				<key>Value</key>
				<data>AwEAAA==</data>
			</dict>
			<dict>
				<key>Device</key>
				<string>NVidia</string>
				<key>Disabled</key>
				<false/>
				<key>Key</key>
				<string>AAPL,slot-name</string>
				<key>Value</key>
				<string>Built-in</string>
			</dict>
			<dict>
				<key>Device</key>
				<string>NVidia</string>
				<key>Disabled</key>
				<false/>
				<key>Key</key>
				<string>device_type</string>
				<key>Value</key>
				<string>NVDA,Parent</string>
			</dict>
			<dict>
				<key>Device</key>
				<string>NVidia</string>
				<key>Disabled</key>
				<false/>
				<key>Key</key>
				<string>model</string>
				<key>Value</key>
				<string>NVIDIA GeForce 315M</string>
			</dict>
			<dict>
				<key>Device</key>
				<string>NVidia</string>
				<key>Disabled</key>
				<false/>
				<key>Key</key>
				<string>hda-gfx</string>
				<key>Value</key>
				<string>onboard-1</string>
			</dict>
			<dict>
				<key>Device</key>
				<string>NVidia</string>
				<key>Disabled</key>
				<false/>
				<key>Key</key>
				<string>@0,compatible</string>
				<key>Value</key>
				<string>NVDA,NVMac</string>
			</dict>
			<dict>
				<key>Device</key>
				<string>NVidia</string>
				<key>Disabled</key>
				<false/>
				<key>Key</key>
				<string>@0,display-type</string>
				<key>Value</key>
				<string>LCD</string>
			</dict>
			<dict>
				<key>Device</key>
				<string>NVidia</string>
				<key>Disabled</key>
				<false/>
				<key>Key</key>
				<string>@0,device_type</string>
				<key>Value</key>
				<string>display</string>
			</dict>
			<dict>
				<key>Device</key>
				<string>NVidia</string>
				<key>Disabled</key>
				<false/>
				<key>Key</key>
				<string>@0,name</string>
				<key>Value</key>
				<string>NVDA,Display-A</string>
			</dict>
		</array>
		<key>Properties</key>
		<dict>
			<key>#PciRoot(0x0)/Pci(0x1,0x0)/Pci(0x0,0x0)</key>
			<dict>
				<key>AAPL,backlight-control</key>
				<data>AQAAAA==</data>
				<key>AAPL,aux-power-connected</key>
				<data>AQAAAA==</data>
				<key>AAPL00,inverter</key>
				<data>AAAAAA==</data>
				<key>AAPL,gray-page</key>
				<data>AQAAAA==</data>
				<key>AAPL,slot-name</key>
				<string>Built-in</string>
				<key>AAPL00,blackscreen.preferences</key>
				<data>AAAACA==</data>
				<key>device_type</key>
				<string>NVDA,Parent</string>
				<key>model</key>
				<string>NVIDIA GeForce 315M</string>
				<key>hda-gfx</key>
				<string>onboard-1</string>
				<key>NVPM</key>
				<data>AQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA==</data>
				<key>NVCAP</key>
				<data>BAAAAAAAAwAIAAAAAAAABwAAAAA=</data>
				<key>@0,NVMT</key>
				<data>DgN/IAAAAABACwgH4AtwC5ALAAA8BwsHEQcAAPCnIRQAAAABrwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAD//wAAAAAAAAAAAAABAAAAAAAA/wAAAAC8AgFaCgQAAAACAABACwgHQAsIBw==</data>
				<key>@0,pwm-info</key>
				<data>AhgAZJBZAgAIUgAApRwAAAAEAAABAAAA</data>
				<key>@0,built-in</key>
				<data>AQ==</data>
				<key>@0,connector-type</key>
				<data>AAgAAA==</data>
				<key>@0,backlight-control</key>
				<data>AQAAAA==</data>
				<key>@0,use-backlight-blanking</key>
				<data></data>
				<key>@0,AAPL,boot-display</key>
				<data>AQ==</data>
				<key>@0,display-cfg</key>
				<data>AwEAAA==</data>
				<key>@0,compatible</key>
				<string>NVDA,NVMac</string>
				<key>@0,display-type</key>
				<string>LCD</string>
				<key>@0,device_type</key>
				<string>display</string>
				<key>@0,name</key>
				<string>NVDA,Display-A</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1,0x0)/Pci(0x0,0x1)</key>
			<dict/>
		</dict>
		<key>USB</key>
		<dict>
			<key>AddClockID</key>
			<false/>
			<key>FixOwnership</key>
			<false/>
			<key>Inject</key>
			<false/>
		</dict>
		<key>UseIntelHDMI</key>
		<false/>
	</dict>
	<key>DisableDrivers</key>
	<array>
		<string>VBoxHfs</string>
	</array>
	<key>GUI</key>
	<dict>
		<key>Custom</key>
		<dict>
			<key>Entries</key>
			<array/>
		</dict>
		<key>Mouse</key>
		<dict>
			<key>Enabled</key>
			<false/>
		</dict>
		<key>Scan</key>
		<dict>
			<key>Entries</key>
			<true/>
			<key>Legacy</key>
			<false/>
			<key>Linux</key>
			<true/>
			<key>Tool</key>
			<true/>
		</dict>
		<key>Theme</key>
		<string>embedded</string>
	</dict>
	<key>Graphics</key>
	<dict>
		<key>Inject</key>
		<dict>
			<key>Intel</key>
			<false/>
			<key>NVidia</key>
			<true/>
		</dict>
	</dict>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>AppleIntelCPUPM</key>
		<true/>
		<key>AppleRTC</key>
		<true/>
		<key>DellSMBIOSPatch</key>
		<false/>
		<key>FakeCPUID</key>
		<string>0x0206a0</string>
		<key>ForceKextsToLoad</key>
		<array>
			<string>\System\Library\Extensions\IONetworkingFamily.kext</string>
		</array>
		<key>KernelLapic</key>
		<true/>
		<key>KernelPm</key>
		<true/>
		<key>KernelToPatch</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>Disable panic kext logging on 10.13 release kernel (credit vit9696)</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>igKEwHRE</data>
				<key>MatchOS</key>
				<string>10.13.x</string>
				<key>Replace</key>
				<data>igKEwOtE</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Disable panic kext logging on 10.14 release kernel (credit vit9696)</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>igKEwHRC</data>
				<key>MatchOS</key>
				<string>10.14.x</string>
				<key>Replace</key>
				<data>igKEwOtC</data>
			</dict>
		</array>
		<key>PanicNoKextDump</key>
		<true/>
	</dict>
	<key>RtVariables</key>
	<dict>
		<key>BooterConfig</key>
		<string>0x28</string>
		<key>CsrActiveConfig</key>
		<string>0x67</string>
	</dict>
	<key>SMBIOS</key>
	<dict>
		<key>ProductName</key>
		<string>MacBookPro8,1</string>
	</dict>
	<key>SystemParameters</key>
	<dict>
		<key>InjectKexts</key>
		<string>Detect</string>
	</dict>
</dict>
</plist>
