<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<dict>
		<key>AutoMerge</key>
		<false/>
		<key>DSDT</key>
		<dict>
			<key>DropOEM_DSM</key>
			<false/>
			<key>Fixes</key>
			<dict>
				<key>FixHPET</key>
				<false/>
				<key>FixIPIC</key>
				<false/>
				<key>FixRTC</key>
				<false/>
				<key>FixTMR</key>
				<false/>
			</dict>
			<key>Patches</key>
			<array>
				<dict>
					<key>Comment</key>
					<string>USB port match fix: EHC2 to EH02 to inject data only via USBPorts.kext</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>RUhDMg==</data>
					<key>Replace</key>
					<data>RUgwMg==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Syntax Fix: M(LGPC) to XGPC, pair up with SSDT-LGPC.dsl</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>TEdQQwk=</data>
					<key>Replace</key>
					<data>WEdQQwk=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Syntax Fix: _HID ABCDEFGH to ABCDABCD</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>QUJDREVGR0g=</data>
					<key>Replace</key>
					<data>QUJDREFCQ0Q=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Sleep Fix: Rename EHC1._PRW to XPRW, pair up with SSDT-PRW.dsl</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>X1BSVxIGAgoNCgM=</data>
					<key>Replace</key>
					<data>WFBSVxIGAgoNCgM=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Sleep Fix: Rename Lid0._PRW to XPRW, pair up with SSDT-PRW.dsl</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>X1BSVxIGAgoNCgQ=</data>
					<key>Replace</key>
					<data>WFBSVxIGAgoNCgQ=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>CPU Power Management with ssdtPRGen: Rename M(PNOT) to PYES, pair up with SSDT-PRGen.dsl</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>UE5PVAg=</data>
					<key>Replace</key>
					<data>UFlFUwg=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>OS fix: Rename _OSI to XOSI, pair up with SSDT-XOSI.dsl</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>X09TSQ==</data>
					<key>Replace</key>
					<data>WE9TSQ==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>GFX cleanup: Rename VGA._DSM to XDSM, pair up with SSDT-NV.dsl</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>X0RTTQQ=</data>
					<key>Replace</key>
					<data>WERTTQQ=</data>
				</dict>
			</array>
		</dict>
		<key>DropTables</key>
		<array>
			<dict>
				<key>Signature</key>
				<string>MCFG</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>SSDT</string>
				<key>TableId</key>
				<string>CpuPm</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>SSDT</string>
				<key>TableId</key>
				<string>PtidDevc</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>SSDT</string>
				<key>TableId</key>
				<string>Cpu0Ist</string>
			</dict>
		</array>
		<key>FixHeaders</key>
		<false/>
		<key>SSDT</key>
		<dict>
			<key>DropOem</key>
			<false/>
			<key>Generate</key>
			<dict>
				<key>APLF</key>
				<false/>
				<key>APSN</key>
				<false/>
				<key>CStates</key>
				<false/>
				<key>PStates</key>
				<false/>
			</dict>
			<key>NoOemTableId</key>
			<false/>
		</dict>
	</dict>
	<key>Boot</key>
	<dict>
		<key>Arguments</key>
		<string>applbkl=0 brcmfx-country=#a</string>
		<key>DefaultVolume</key>
		<string>LastBootedVolume</string>
		<key>NeverHibernate</key>
		<true/>
		<key>Secure</key>
		<false/>
		<key>Timeout</key>
		<integer>1</integer>
	</dict>
	<key>Comment</key>
	<string>Toshiba Satellite C665, B940, 315M, @whatnameisit</string>
	<key>Devices</key>
	<dict>
		<key>LANInjection</key>
		<false/>
		<key>NoDefaultProperties</key>
		<true/>
		<key>Properties</key>
		<dict>
			<key>#PciRoot(0x0)/Pci(0x1,0x0)/Pci(0x0,0x1)</key>
			<dict>
				<key>#Comment</key>
				<string>DO NOT REMOVE THIS DEVICE OR 315M WILL FAIL AND REBOOT</string>
			</dict>
		</dict>
		<key>USB</key>
		<dict>
			<key>AddClockID</key>
			<false/>
			<key>FixOwnership</key>
			<false/>
			<key>Inject</key>
			<false/>
		</dict>
		<key>UseIntelHDMI</key>
		<false/>
	</dict>
	<key>DisableDrivers</key>
	<array/>
	<key>GUI</key>
	<dict>
		<key>Custom</key>
		<dict>
			<key>Entries</key>
			<array>
				<dict>
					<key>Disabled</key>
					<false/>
					<key>Hidden</key>
					<true/>
					<key>Ignore</key>
					<false/>
					<key>Type</key>
					<string>OSXRecovery</string>
				</dict>
			</array>
		</dict>
		<key>Hide</key>
		<array>
			<string>Preboot</string>
		</array>
		<key>Mouse</key>
		<dict>
			<key>Enabled</key>
			<true/>
		</dict>
		<key>Scan</key>
		<dict>
			<key>Entries</key>
			<true/>
			<key>Legacy</key>
			<false/>
			<key>Linux</key>
			<true/>
			<key>Tool</key>
			<true/>
		</dict>
		<key>Theme</key>
		<string>embedded</string>
	</dict>
	<key>Graphics</key>
	<dict>
		<key>Inject</key>
		<dict>
			<key>Intel</key>
			<false/>
			<key>NVidia</key>
			<true/>
		</dict>
	</dict>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>AppleIntelCPUPM</key>
		<true/>
		<key>AppleRTC</key>
		<false/>
		<key>DellSMBIOSPatch</key>
		<false/>
		<key>FakeCPUID</key>
		<string>0x0206a0</string>
		<key>ForceKextsToLoad</key>
		<array/>
		<key>KernelLapic</key>
		<false/>
		<key>KernelPm</key>
		<false/>
		<key>KernelToPatch</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>MSR 0xE2 _xcpm_idle instant reboot(c) Pike R. Alpha</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>ILniAAAADzA=</data>
				<key>Replace</key>
				<data>ILniAAAAkJA=</data>
			</dict>
		</array>
		<key>PanicNoKextDump</key>
		<true/>
	</dict>
	<key>RtVariables</key>
	<dict>
		<key>BooterConfig</key>
		<string>0x28</string>
		<key>CsrActiveConfig</key>
		<string>0x67</string>
	</dict>
	<key>SMBIOS</key>
	<dict>
		<key>ProductName</key>
		<string>MacBookPro8,1</string>
	</dict>
	<key>SystemParameters</key>
	<dict>
		<key>InjectKexts</key>
		<string>Detect</string>
	</dict>
</dict>
</plist>
