<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleGetInfoString</key>
	<string>1.0 Copyright © 2019 whatnameisit. All rights reserved.</string>
	<key>CFBundleIdentifier</key>
	<string>com.whatnameisit.poroport</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>poroport</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>MacBookPro8,1-InternalHub-EHC1</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBHostMergeProperties</string>
			<key>IOClass</key>
			<string>AppleUSBHostMergeProperties</string>
			<key>IOProviderClass</key>
			<string>AppleUSB20InternalIntelHub</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>port-count</key>
				<data>AgAAAA==</data>
				<key>ports</key>
				<dict>
					<key>H11L</key>
					<dict>
						<key>port</key>
						<data>AQAAAA==</data>
					</dict>
					<key>H12R</key>
					<dict>
						<key>port</key>
						<data>AgAAAA==</data>
					</dict>
					<key>H16B</key>
					<dict>
						<key>port</key>
						<data>BgAAAA==</data>
					</dict>
				</dict>
			</dict>
			<key>locationID</key>
			<integer>487587840</integer>
			<key>model</key>
			<string>MacBookPro8,1</string>
		</dict>
		<key>MacBookPro8,1-InternalHub-EHC2</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBHostMergeProperties</string>
			<key>IOClass</key>
			<string>AppleUSBHostMergeProperties</string>
			<key>IOProviderClass</key>
			<string>AppleUSB20InternalIntelHub</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>port-count</key>
				<data>AQAAAA==</data>
				<key>ports</key>
				<dict>
					<key>H21S</key>
					<dict>
						<key>port</key>
						<data>AQAAAA==</data>
					</dict>
					<key>H23W</key>
					<dict>
						<key>port</key>
						<data>AwAAAA==</data>
					</dict>
				</dict>
			</dict>
			<key>locationID</key>
			<integer>437256192</integer>
			<key>model</key>
			<string>MacBookPro8,1</string>
		</dict>
	</dict>
	<key>OSBundleRequired</key>
	<string>Root</string>
</dict>
</plist>
